* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.app-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #dc2802;
  height: inherit;
  padding-top: 40px;
  padding-left: 70px;
  text-transform: uppercase;
  font-weight: 1px;
  letter-spacing: 1px;
}
.bg-color-red {
  background-color: #dc2802;
}

.text-pry {
  color: #dc2802;
}

/* na { 
            margin-bottom: 30px;
            ;
        } */

.navbar ul {
  display: flex;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  font-size: 18px;
  padding: 0 30px;
  position: inherit;
  left: 0;
  font-family: "Roboto";
}

.navbar ul li {
  padding: 10px 20px;
}

.navbar ul {
  float: right;
  list-style: none;
  height: inherit;
  line-height: inherit;
  padding: 0 50px;
}

.navbar a {
  text-decoration: none;
  color: #000;
}

.navbar ul li a {
  display: block;
  text-align: center;
  min-width: 120px;
  padding: 0 30px;
}

.navbar ul li a:hover {
  color: #dc2802;
}

.form-table {
  width: 30%;
  align-content: center;
  margin-left: 500px;
  margin-top: 30px;
}

legend {
  font-weight: bold;
}

input {
  text-align: center;
  height: 30px;
  margin-bottom: 20px;
}

.fullname {
  display: flex;
}

.feedbackform {
  width: 800px;
  background-color: #dc2802;
  margin: auto;
  color: #ffffff;
  padding: 10px 0px 10px 0px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
}

/* Start Contact Section */
.contact {
  display: flex;
  background-color: #eeeeee;
}

.contact-us {
  margin: 10px 100px;
}

.contact-us p {
  font-size: 20px;
}

input {
  background-color: transparent;
  border-bottom: 2px solid black;
}

.message-section {
  display: flex;
}

.info {
  display: flex;
}

.info label {
  padding-right: 200px;
}

.info input {
  margin-right: 30px;
  height: 30px;
}

.message-section-input {
  margin-right: 20px;
  width: 100%;
  background: transparent;
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.full-menu-button {
  padding: 10px 20px;
  background: #df2222;
  color: #ffffff;
  border: 1px solid transparent;
  font-size: 20px;
  outline: none;
  transition: all 0.8s;
  transition-timing-function: ease-in-out;
}

.full-menu-button:hover {
  padding: 10px 20px;
  background: #ffffff;
  color: #df2222;
  border: 1px solid #df2222;
  font-size: 20px;
}

.message-section button {
  padding: 18px 45px;
  background: transparent;
  color: black;
  border: 2px solid black;
  font-size: 20px;
  transition: all 0.8s;
  transition-timing-function: ease-in-out;
}

.message-section button:hover {
  padding: 10px 20px;
  background: #df2222;
  color: black;
  border: 1px solid black;
  font-size: 20px;
}

.contact {
  background: #ffffff;
  align-items: flex-start;
  justify-content: flex-start;
}

.contact-us {
  margin-top: 80px;
}

.contact h4 {
  font-size: 30px;
  /* text-align: center; */
}

.contact label {
  font-size: 22px;
}

.drop-a-line {
  font-weight: 700;
  font-size: 20px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 20px;
}

/* End Contact Session */

/* Footer */
footer {
  background-color: #dc2802;
  width: 100vw;
  height: 30px;
}

footer p {
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
  color: #ffffff;
}

/* End Footer */
